.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
}

.row-atas {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 100%;
}

.row-bawah {
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 100%;
}

.foto {
  width: 40vw;
  height: 40vh;
}

.poin-kiri {
  width: 40vw;
}

.poin-kanan {
  width: 60vw;
}

.nama {
  align-items: center;
  justify-items: center;
  font-size: xxx-large;
}

.foto-lingkaran {
  border-radius: 100%;
  overflow: hidden;
}